@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #4f46e5 transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
    border-radius: 3px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll linear;
  animation-play-state: paused;
}